/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* CSS VARIABLE */
:root {
  --black: #000100;
  --cadet-gray: #a1a6b4;
  --light-blue: #94c5cc;
  --columbia-blue: #b4d2e7;
  --sea-salt: #f8f8f8;
  --supplimentary-color: #e52374;
}

/* Basic Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Basic Body */
body {
  background-color: var(--black);
  position: relative;
  font-family: "Inter", sans-serif;
}
/* Banground circle */
.circle {
  width: 1239px;
  height: 1239px;
  position: absolute;
  left: -372px;
  top: -694px;
  border-radius: 1239px;
  opacity: 0.4;
  background: var(--columbia-blue, #b4d2e7);
  filter: blur(100px);
  z-index: -1;
}
/* container */
.container {
  max-width: 1280px;
  margin-top: 4px;
  margin-inline: 320px;
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  /* height: 100vh; */
}
/* Navbar */
.navbar {
  display: flex;
  padding: 2px 14px 3px 14px;
  width: 100%;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  background: var(--light-blue);
}
.navbar__container {
  width: 100%;
  padding: 10px;
}
.navbar__box {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 129px;
  justify-content: space-between;
}
/* Logobox */
.logobox {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.logoText {
  color: var(--supplimentary-color);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: norma;
}
/* Search Box */
.search_box {
  max-width: 614px;
  width: 100%;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid var(--supplimentary-color);
  background-color: transparent;
  outline: none;
  transition: all 0.2s;
}
.search_box::placeholder {
  color: var(--sea-salt);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search_box:focus {
  border: 1px solid rgb(89, 0, 255);
}
.result {
  color: var(--supplimentary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* MAIN */
.main {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  max-height: 576px;
}
/* Movie List */
.movielist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  border: 1px solid var(--sea-salt);
  background: var(--black);
  overflow-y: scroll;
  position: relative;
}
.movie {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
  border: 1px solid var(--Sea-Salt, #f8f8f8);
}
.movie:hover {
  background: #1e1e1e;
  cursor: pointer;
}
.movie_detail_box {
  display: flex;
  padding: 16px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.movie_detail_box_name {
  color: var(--columbia-blue, #b4d2e7);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.movie_detail_box_year {
  color: var(--Cadet-Gray, #a1a6b4);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.movie > img {
  width: 96px;
  height: 96px;
}
/* WatchList */
.watchlist {
  display: flex;
  height: 576px;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--Sea-Salt, #f8f8f8);
  background: var(--Black, #000100);
}
.watchlistsummary {
  display: flex;
  width: 620px;
  height: 141px;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  border: 1px solid #fff;
}
.watchlistsummary > p {
  color: var(--columbia-blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.summarylayout {
  display: flex;
  align-items: center;
  gap: 20px;
}
.summarybox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.summarybox > img {
  width: 24px;
  height: 24px;
}
.summarybox > p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* Watchedmovie */
.watchedmovie {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
  border-bottom: 1px solid #fff;
}
.watchedmovie > img {
  width: 96px;
  height: 96px;
}
.watchedmoviedetails {
  display: flex;
  padding: 16px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 11px;
  flex: 1 0 0;
  align-self: stretch;
}
.watchedmoviedetails > p {
  color: var(--columbia-blue);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.watchedmoviesummary {
  display: flex;
  align-items: center;
  gap: 20px;
}
.watchedmoviedetail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.watchedmoviedetail > p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* Movie Detiails */
.moviedetails {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
  border: 1px solid var(--Sea-Salt, #f8f8f8);
  background: var(--Black, #000100);
}
.movieheader {
  width: 100%;
  display: flex;
  gap: 24px;
  border: 1px solid white;
}
.movieheader > img {
  width: 120px;
  height: 142px;
}
.moviecredentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  position: relative;
}
.moviecredentials > h2 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.release_date {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.moviecredentials > h4 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.moviecredentials__rating {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}
.description {
  padding: 32px 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.addtowatchlist {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
  background: #171717;
}
.addtowatchlist__button {
  padding: 6px 40px;
  background-color: var(--light-blue);
  border-radius: 10px;
  transition: all 0.2s;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.addtowatchlist__button:hover {
  background-color: #7da5ac;
}
.plot {
  width: 298px;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.movie__description {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: center;
}
.movie__director {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* Back Naviagation */
.backnav {
  display: flex;
  padding: 9px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  right: 28px;
  top: 12px;
  border-radius: 100px;
  background: #fff;
  transition: all 0.2s;
}
.backnav:hover {
  background-color: #d6d6d6;
}
